lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.mov

# Keep imported CSVs
!import-data/*

pids
logs
results
tmp
coverage
dist

# API keys
.env
.env-test

# Dependency directory
node_modules
bower_components

# OS metadata
.DS_Store
Thumbs.db

# Editors
.idea
*.iml